
/* COACH NAV LINKS */
.site-link{
  margin-left: 15px;
  text-decoration: none;
}

.landing{
  background-image: url('./components/assets/court.jpeg');
  background-size: 100% 700px;
  background-repeat: no-repeat;
  height: 700px;
  color: rgb(174, 171, 171);
  margin-top: 65px;
}